<div class="heading">
  <h3>
    Contact Caitlin
  </h3>
</div>
<div class="content">
  <div class="leftcolumn">
    <%= image_tag "caitlin.jpg", class: "contact-image" %>
  </div>
  <div class="rightcolumn">
    <p>
      This website is meant to build my skills and also my web presence.  If you have any questions or like my resume, let me know!
    </p>
    <p>
      <a href="mailto:caitielin1@comcast.net" target="_blank">caitielin1@comcast.net</a>
    </p>
  </div>
  <div class="clear"></div>
</div>
