<div class="heading">
  <h3>Home</h3>
</div>
<div class="content">
  <h3>I'm so cute!</h3>
  <p>Like, why do I even have a website?  I am soooo much more adorbz in person!</p>
  <h3>Wait, is this even Caitlin?</h3>
  <p>Oops sorry, no it's not, not yet, but she'll learn how to do this soon!</p>
  <h3>How cute you say?</h3>
  <p>This cute!</p>
  <%= image_tag "caitlin_home.jpg", class: "center" %>
</div>
