<div class="footer">
  <div class="left">
    Caitlin Ramsay
  </div>
  <div class="right">
    717-586-8389
  </div>
  <div class="clear"></div>
  <div class="love">
    Made with <%= link_to "Love", "http://tomprats.com/love"%>
  </div>
</div>
