<head>
  <meta property="og:url" content="http://www.caitlinramsay.com">
  <meta property="og:title" content="CaitlinRamsay.com">
  <meta property="og:description" content="I have my own site, I'm cool now.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>CaitlinRamsay.com</title>
  <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag       "favicon.ico" %>
  <%= csrf_meta_tags %>
</head>
