<div class="navbar navbar-fixed-top">
  <ul class="nav nav-center">
    <li><%= link_to "Home", home_pages_path %></li>
    <li><%= link_to "Resume", resume_pages_path %></li>
    <li><%= link_to "Contact Me", contact_pages_path %></li>
  </ul>
</div>
